HTML CSSResult
*{
    margin: 0;
}
#navbar{
    background:#be3144;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

#navbar >a{
    list-style: none;
    color: white;
    margin: 20px;
    text-decoration: none;
    font-weight: bold;  
    font-size: 22px;
}

#welcome-section{
    background:black;
     height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50px;
}

#welcome-section > h1{
    font-size: 50px;
    color: white;
    
}

#welcome-section > p{
    font-size: 30px;
    color:#be3144;
    
}

#projects{
    background: #45567d;
}

#projects >h2{
    color: #f0f0f0;
    /* border-bottom:2px solid #f0f0f0 ; */
    padding: 60px 0px 0px 0px;
    /* display: inline-block; */
    text-align: center;
    margin: 0 auto;
}

/* hr{
    width: 20%;

} */

img{
    width: 400px;
    height: 400px;
    margin: 20px;
    max-width: 100%;
    
}

.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.project-title  {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    
}

/* .project-title p{
    background: #303841;
    width: 400px;
} */

.project-title {
    text-decoration: none;
    color: #f0f0f0;
    padding: 20px 5px;
    background: #45567d;
}

#profile-link{
    background: #303841;
    text-align: center;
    padding: 35px;
}
#profile-link >h2{
    color: #f0f0f0;
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
}

#profile-link a{
    font-size: 24px;
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #f0f0f0;
   
}

#contact-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: transform 0.3s ease-out;
}

#profile-link p{
    color: #f0f0f0;
    padding: 20px;
}

footer{
    background: #303841;
    border-top:4px solid #be3144;
    padding: 20px;
    font-size: 20px;
    
    color: #f0f0f0;
    height: 60px;
    
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

#footer-contianer{
  
   justify-content: center;
}

@media () {

}
    



